*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#e0e0e0;
}
.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-weight: 700px;
    font-size: 30px;
    color: #000000;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-weight: 500px;
    font-size: 16px;
    color: #000000;
}

.navbar :first-child {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    background: #f0f0f0;
    font-family: Poppins;
    height: 70px;
    width: auto;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav img {
    width: 120px;
    height: 70px;
    margin-right: 20px;
    justify-content: center;
    margin-left: 50px;
}

nav li {
    display: inline;
    margin-right: 15px;
    list-style-type: none;
    justify-content: right;
    align-items: flex-end;
    padding: 5px;
    justify-content: space-around;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 20px;
}

.MainDiv{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

.FirstChild{
    width: 320px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-family: poppins;
}

.FirstChild img{
    width: 95%;
    height: 40%;
    border-radius: 10px;
    margin-top: 7px;
    margin-left: 7px;
    margin: 7px 7px 15px 7px;
    justify-content: center;
}

.Div1{
    font-size: 12px;
    font-family: poppins;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    border-color: #e0e0e0;
    padding: 5px 5px 5px 5px;
    margin-left: 25px;
}
.Div2{
    font-family: poppins;
    font-size: 12px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    border-color: #e0e0e0;
    padding: 5px 5px 5px 5px;
}
.FirstChild > h1{
    font-size: 25px;
    font-family: poppins;
    margin-left: 25px;
    margin-top: 15px;
    font-weight: 600;
}

.FirstChild > p{
    font-size: 14px;
    font-family: poppins;
    margin-left:25px;
    margin-right: 14px;
    margin-top: 15px;
    color: #808080;
}

.Button{
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 140px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 15px ;
    padding: 5px 0px 3px 30px;
    color: blue;
    background-color: hwb(212 76% 0%);
    cursor: pointer;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-weight: 500px;
    font-size: 16px;
    color: #ffffff;
}
